{
  "semi": false,
  "bracketSameLine": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "none",
  "printWidth": 100,
  "endOfLine": "auto",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "tabWidth": 2
}
